
h1 {
  color: black;
  font-size: 36px;
}

p {
  color: black;
}

.main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10%;
  margin-right: 10%;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  border: 2px;
  border-color: gray;
  border-style: solid;
  padding: 4px;  
  margin: 10px;
}

.cardcontent {
  text-align: left;
  border: 2px;
  border-color: gray;
  border-style: solid;
  padding-left: 10px;  
  margin: 10px;
}

.address {
  text-align: left;
  margin: 20px;
}

.company {
  text-align: left;
  margin: 20px;
}

.geo {
  text-align: left;
  margin: 20px;
}
