
/* Texts */
h1 {
  text-align: center;
  color: black;
  font-size: 36px;
}

h2 {
  text-align: center;
  padding: 10px;
  border: 2px;
  border-color: #999;
  border-style: solid;
  background-color: aquamarine;
  margin: 20px;
}

p {
  color: black;
}


/* Main components */
.main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10%;
  margin-right: 10%;
}

.cards {
  display: grid;
  grid-template-areas: '1fr 1fr 1fr';
  grid-auto-flow: row;
  grid-area: auto;
  padding-left: 10%;
  padding-right: 10%;
}


/* Card */
.card {
  text-align: center;
  display: inline-block;
  border: 1px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-color: gray;
  border-style: solid;
  padding: 5%;
  padding-top: 10%; 
  margin: 10px;
  height: 250px;
  width: 250px;
}

.cardcontent {
  text-align: center;
  padding-left: 10px;  
  margin: 10px;
}

.address,
.company {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  margin-left: 25px;
  margin-right: 20px;
  background-color: aquamarine;
}

.geo {
  display: flex;
  justify-content:space-evenly;
  text-align: left;
  padding: 10px;
  margin-left: 25px;
  margin-right: 20px;
  background-color: aquamarine;
}


/* Popup-window */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.box {
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(95vh - 85vh - 20px);
  background: #fff;
  border-radius: 8px;
  padding: 70px;
  border: 0px solid black;
  overflow: auto;
  font-family: 16px Ubuntu sans-serif;
}

.close-icon {
  content: 'X';
  cursor: pointer;
  position: absolute;
  right: calc(7% - 30px);
  top: calc(100vh - 90vh - 33px);
  background: #ededed;
  width: 35px;
  height: 35px;
  border-radius: 10%;
  line-height: 30px;
  text-align: center;
  border: 3px solid #999;
  font-size: 30px;
}

.content {
  display: flex;
}


/* Button */
button {
  color: white;
  background-color: mediumslateblue;
  font-family: Ubuntu sans-serif;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px;
}

button:hover {
  color: white;
  background-color: blue;
  font-family: Ubuntu sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px;
}
